* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, "Open Sans";
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
h1 {
  color: white;
  text-align: center;
  margin: 10px;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}
.times {
  display: flex;
  justify-content: center;
  align-items: center;
}
.times div {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}
.times div span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 3rem;
  color: white;
  background-color: teal;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.times div span:nth-child(2) {
  height: 30px;
  font-weight: 700;
  font-size: 0.5rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  background-color: rgba(0, 128, 128, 0.7);
}
.times div:nth-child(3) span {
  background-color: crimson;
}
.times div:nth-child(3) span:nth-child(2) {
  background-color: rgba(220, 20, 60, 0.5);
}
